<a href="/">Home</a>
<h1 class="title">Add Books</h1>
<div class="add_new_item">
    <form action="/insertQueries/add_book" method="post">
        <label>Title: <input type="text" name="title"></label>
        <br>
        <br>
        <label>Issue #: <input type="text" name="issue"></label>
        <br>
        <br>
        <label>UPC: <input type="text" name="upc"></label>
        <br>
        <br>
        <label>Price: <input type="text" name="price"></label>
        <br>
        <br>
        <label>
            Owner:
            <Select name="owner">
                {{#each collectors}}
                <!--need a getOwners function in insertQueries.js to get a list of owner ids and full names-->
                <option value="{{id}}">{{fullName}}</option>
                {{/each}}
            </Select>
        </label>
        <br>
        <br>
        <label>
            Publishers:
            <Select name="publisher">
                {{#each publishers}}
                <!--need a getPublishers function in insertQueries.js to get a list of publisher ids and names-->
                <option value="{{id}}">{{name}}</option>
                {{/each}}
            </Select>
        </label>
        <br>
        <br>
        <label>
            Authors:
            <Select name="authors" multiple size="4">
                {{#each authors}}
                <!--need a getAuthors function in insertQueries.js-->
                <option value="{{id}}">{{fullName}}</option>
                {{/each}}
            </Select>
        </label>
        <br>
        <br>
        <label>
            Genres:
            <Select name="genres" multiple size="4">
                {{#each genres}}
                <!--need a getGenres function in insertQueries.js-->
                <option value="{{id}}">{{type}}</option>
                {{/each}}
            </Select>
        </label>
        <br>
        <br>
        <input type="submit" value="Add" />
    </form>
    <br>
    <button onclick="window.history.back()">Cancel</button>
</div>

<!--
    In insertQueries.js, add:

    app.get('/add_book', function(req, res, next){
        res.render('add_book', {title:'Add a book'});
    });
-->
